@model Models.NewsListModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
    ViewBag.Title = "لیست خبرها";
}

<div id="DivListProducts">
    <caption-view asp-title="لیست خبرها "></caption-view>
    <form class="form-inline" asp-controller="news" asp-action="List" method="get">
        <label asp-for="SearchName"></label>
        <input class="form-control" asp-for="SearchName">
        <label asp-for="CategoryId"></label>
        <select class="form-control" asp-items="@Model.Categories" asp-for="CategoryId"></select>
        <button type="submit" class="btn btn-primary">جستجو</button>
    </form>
    <div style="text-align:left">
        <a class="btn-link" asp-controller="news" asp-action="Create">ثبت جدید</a>
    </div>
    <br />
    <table class="table text-center table-bordered table-hover">
        <thead>
            <tr>
                <td>عنوان</td>
                <td>متن</td>
                <td>کاربر</td>
                <td>موضوع</td>
                <td>ویرایش</td>
                <td>حذف</td>

            </tr>
        </thead>
        <tbody id="tableProducts">
           @foreach (var item in Model.News)
                {
            <tr data-id="@item.ID">
                <td>@item.Title</td>
                <td>@item.FullText</td>
                <td>@item.UserFullName</td>
                <td>@item.CategoryName</td>
                <td><a class="btn-link" asp-controller="news" asp-action="Create" asp-route-id="@item.ID">ویرایش</a></td>
                <td><a class="btn-link" asp-controller="news" asp-action="Remove" asp-route-id="@item.ID">حذف</a></td>
                



            </tr>
                }
        </tbody>
    </table>

    
</div>
